html {
  --input-color: #d9d9d9;
  --button-color: #75A3D1;
  --button-color-hover: #538cc6; 
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-left: 30em;
}

.form-component {
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form-component input {
  height: 30px;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding-left: 5px;
}

.form-component input:hover {
  background-color: var(--input-color);
  box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

.form-component input:focus {
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

.footer-grid {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.footer-grid button {
  font-size: 21px;
  border: 0;
  background-color: var(--button-color);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.4em;
}

.footer-grid button:hover {
  background-color: var(--button-color-hover);
}

.footer-grid button:focus {
  outline: none;
}

.img-circular{
  width: 100px;
  height: 100px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  margin-bottom: 1em;
}
