header.actionsheader {
  padding: 20px 240px;
  width: calc(100% + 240px);
  background: var(--common-blue);
  color: #222;
  display: flex;
  height: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

header.actionsheader .upper-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header.actionsheader .upper-header .box-logo img {
  width: 64px;
}

header.actionsheader .box-actions {
  margin: auto auto 0 auto;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

header.actionsheader .box-actions * {
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
