html {
  --button-color: #75a3d1;
  --button-color-hover: #538cc6;
  --menu-color: #b1434e;
  --menu-color-hover: #943841;
  --input-color: #d9d9d9;
  --searchbar-color: #ff9a5c;
}

/* Formulários */

.form form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.15);
}

.form input {
  margin-top: 6px;
  width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  background-color: var(--input-color);
  border: 0;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
}

.form input:hover {
  background-color: var(--input-color);
  box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

.form input:focus {
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

.footer {
  width: 100%;
  margin-top: 3em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer button {
  font-size: 21px;
  border: 0;
  background-color: var(--button-color);
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  padding: 0.4em;
}

.footer button:hover {
  background-color: var(--button-color-hover);
}

.footer button:focus {
  outline: none;
}

/* SiderBar */

.menu-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  width: 300px;
  background-color: var(--menu-color);
}

.links-wrapper {
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-shrink: 0;
}

.links-wrapper a {
  padding: 16px;
  display: flex;
  align-items: center;
  color: #f7f7f7;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  width: 280px;
  text-decoration: none;
}

.links-wrapper a:hover {
  background-color: var(--menu-color-hover);
}

.links-wrapper a label,
small {
  margin-left: 10px;
}

.profile-link {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.img-menu {
  width: 50px;
  height: 50px;
  background-size: cover;
  display: block;
  border-radius: 100px;
}

/* SearchBar */

.search-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--searchbar-color);
  top: 0;
}

.post-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--searchbar-color);
  top: 0;
}

.search-container input {
  min-width: 18em;
  height: 30px;
  padding: 0px 10px;
  font-size: 16px;
  background-color: var(--input-color);
  border: 0;
  border-radius: 4px;
}

.search-container input:focus {
  outline: none;
}

.search-container button {
  height: 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.search-container button:focus {
  outline: none;
}
